- title "Freunde informiert"

%p
  %b Vielen Dank!
  %br/
  Die E-Mails wurden erfolgreich an deine Freunde und Bekannten geschickt.
  %br/
  %br/
  = link_to('Weitere Freunde informieren...', :controller => 'tellafriend')