- title "Protestbriefe verschickt!"

%p
  Danke für Deine Teilnahme! Dein Brief wurde gerade an Vattenfall verschickt.
%p
  Zur Bestätigung bekommst Du auch eine Kopie. Die anderen Empfänger sind:
%ul
  %li Tuomas Hataka (Vorstandsvorsitzer Vattenfall Europe AG)Vielen Dank.
%p
  FIXME: Freunde informieren ...
%p
  FIXME: Spenden ...