- title "Protestbriefe verschickt!"

%p
  Danke für Deine Teilnahme! Dein Brief wurde gerade an Vattenfall verschickt.
%p
  Zur Bestätigung bekommst Du auch eine Kopie.
%p
  = link_to "Weitersagen", recommend_path
  |
  = link_to "Spenden", "XXX"