- title "Absender verfizieren"

%p
  Vielen Dank. Die E-Mail wurde gespeichert. Damit die Protestmail aber
  and die Adressaten weitergeleitet werden kann, musst Du noch deine E-Mail-Adresse bestätigen.
  %br/
  Dazu hast Du jetzt eine E-Mail mit einem Bestätigungslink bekommen. Einfach dem Link
  folgen und Deine Protestmail geht raus.