- title "Absender verfizieren"

%p
  Du erh채lst in diesen Momenten eine Email zu Best채tigung der Emailadresse.
  %br/
  Bitte schau in Deinem Account nach und best채tige den Brief an Vattenfall, indem Du auf den Link klickst.
%p
  Damit der Protest gegen Vattenfall richtig wirkt, m체ssen wir viele Menschen sein.
  Du kannst diese Online-Aktion weiterempfehlen, indem Du hier eine Email an Freunde und Bekannte schickst:
  %br/
  TODO: Tell a friend ..
  %br/
  Diese Emailadressen werden von uns nicht gespeichert, sondern dienen nur zum Verschicken der Empfehlung!
  
  
