- title "Absender verfizieren"

%p
  Du erhälst in diesem Moment eine Email zu Bestätigung der Emailadresse.
  %br/
  Bitte schau in Deinem Account nach und bestätige den Brief an Vattenfall, indem Du auf den Link klickst.

%br/
= render :partial => 'invitations/form'
  
