<div id="footer">
  <ul>
    <li><%= link_to "Startseite", root_url %></li>
    <li><%= link_to "Impressum", site_link_path('impressum') %></li>
    <li><%= link_to "Datenschutz", site_link_path('datenschutz') %></li>
    <li><%= link_to "Kontakt", site_link_path('kontakt') %></li>
  </ul>
</div>