.group
  .left
    %label{:for => "invitation_recipients"} E-Mail:
  .right
    = text_field_tag "invitation[recipients][]", recipient
    = link_to_function "entfernen", "$(this).up('.group').remove()"
  .clear