development: &defaults
  base_url: http://localhost:3000
  mail_sender: info@kampagnenslogan.local
  protest_mail:
    recipients:
      - benni <benni@bad_company.local>
    subject: Vattenfall sucks!
    body:
      Ein langer Text ...

      Mit vielen Absätzen

      noch einer

      nund noch einerr
  notification:
    error_recipients:
      - admin@kampagnenslogan.local
    sender_address: "\"ProtestMailer Error\" <admin@kampagnenslogan.local>"
    email_prefix: "[ProtestMailer] "

  invitation:
    subject: Einladung zur Online-Aktion

test:
  <<: *defaults
  base_url: http://localhost:3000

production:
  <<: *defaults
  base_url: http://www.kampagnenslogan.de
