- title "News"

- for post in Post.all
  .news
    .header
      %span.date= I18n.l post.created_at, :format => "%d. %b %Y"
      = post.location
      %h3= post.title
    .body
      = simple_format post.body