- title "Datenschutzerklärung"

%p
  Alle Daten, die auf dieser Seite erfasst werden, verwenden wir nur im Rahmen dieser Kampagne und zum Versenden der Emails an die angegebenen Empfänger/innen. Ihre Daten werden nicht an Dritte weitergegeben. 
%p
  Für weitere Fragen zum Datenschutzt wenden Sie sich bitte an 
  = mail_to "datenschutz@...."