- title "Datenschutzerklärung"

%p
  Alle Daten, die auf dieser Seite erfasst werden, verwenden wir nur im Rahmen dieser Kampagne und zum Versenden der Emails an die angegebenen Empfänger/innen. Deine Daten werden nicht an Dritte weitergegeben.
%p
  Für weitere Fragen zum Datenschutz wende Dich bitte an admin [at] ausgekohlt.net