- title "Vattenfall verkohlt unsere Zukunft!"

%p Am 20. August 2008 besetzten mehr als 30 Menschen spontan das Gelände des Kohlekraftwerks Hamburg-Moorburg, das der Energiekonzern Vattenfall dort errichten möchte. Einige der Besetzer/innen kletterten auf Baukräne und hängten ein Banner mit der Aufforderung „Stromkonzerne enteignen!“. Andere blockierten mit einer Sitzblockade die Arbeiten auf einem Teil der Baustelle. Die Besetzer/innen harrten mehrere Stunden auf dem Kraftwerksgelände aus, bevor sie von der Polizei in Gewahrsam genommen wurden.

%h3 Warum machen Jugendliche solche Aktionen?
%p
  %i
    „Mit dem Bau neuer Kohlekraftwerke wird diese klimaschädlichste Form der Stromerzeugung für die nächsten Jahrzehnte zementiert. So werden Milliarden von Tonnen Kohlendioxid, die Luft geblasen, die das Klima verändern und dazu beitragen, die soziale Schieflage zu verschärfen. Der Klimawandel betrifft diejenigen am stärksten, die am wenigsten dazu beigetragen haben: die Menschen des globalen Südens und die sozial schwachen. Wir streiten auch mit Zivilem Ungehorsam gegen den Bau neuer Kohlekraftwerke, denn damit verkohlt Vattenfall unsere Zukunft.“
%p Obwohl sich die Bundesregierung auf internationaler Ebene immer wieder als Vorreiter beim Klimaschutz aufspielt, tut sie tatsächlich nichts, um einen Kurswechsel in der Energie- und Klimapolitik einzuleiten. Sie stellt sich hinter die Interessen der großen Energiekonzerne, die weiterhin auf den Bau neuer Kohlekraftwerke setzen – ineffiziente und klimaschädliche Großkraftwerke, die eine Entwicklung von Erneuerbaren Energien behindern. Alleine hierzulande sind 29 weitere dieser Klima-Killer geplant. Damit ist die Bundesrepublik europäischer Spitzenreiter wenn es darum geht, für die nächsten 40 Jahre Milliarden von Tonnen Kohlendioxid zu produzieren.

%h3 Rechtfertigt das eine Gesetzesübertretung?
%p Mit der Baustellenbesetzung haben die Aktivist/innen bewusst einen Gesetzesbruch begangen und sich mit zivilem Ungehorsam gegen eine menschenverachtende Energiepolitik gestellt. Der Neubau von Kohlekraftwerken hat verheerende Auswirkungen auf den Klimawandel, der schon heute Menschen vertreibt, obdachlos macht und tötet. Die Veränderung des Klimas betrifft in erster Linie die Menschen im globalen Süden und diejenigen, die am wenigsten dazu beigetragen haben. In Anbetracht dieser katastrophalen sozialen Auswirkungen ist es völlig legitim, Baustellen zu besetzen, um neue Kohlekraftwerke zu verhindern.

%h3 Was passierte nach der Besetzung?
%p Nur drei Tage nach der kurzzeitigen Besetzung der Baustelle, versuchten am 23. August über 700 Leute gemeinsam, auf das Baugelände einzudringen. Diese massenhafte Aktion zivilen Ungehorsams konnte ein Großaufgebot der Polizei nur durch den massiven Einsatz von Wasserwerfern und Schlagstöcken verhindern. Die Polizei hielt die Menschen mit Gewalt davon ab das zu tun, weshalb sie gekommen waren: das Klima zu schützen.

%h3 Welche juristischen Folgen drohen den BesetzerInnen?
%p Vattenfall hat gegen die Klimaschützer eine Anzeige wegen Hausfriedensbruch gestellt. Die Kriminalisierung der Aktivisten liegt damit alleine bei Vattenfall, denn der Konzern hat jederzeit die Möglichkeit, diese Anzeige wieder zurückzuziehen und damit die Strafverfolgung zu beenden. Sollte Vattenfall seine Anzeige aufrecht erhalten kommt es zu Gerichtsprozessen, die zu hohen Strafen für die Aktivisten führen können. Einige der Besetzer/innen wurden bereits zu Geldstrafen von mehreren hundert Euro verurteilt, bei anderen stehen die Gerichtsentscheidungen noch aus.

%p
  %b Jetzt müssen wir Druck machen auf Vattenfall! Der Energiekonzern muss die Strafanzeigen zurückziehen und einsehen, dass Klimaschutz mit Kohlekraftwerken nicht zu machen ist.

%p
  %b= link_to "Jetzt Emails an den Vattenfall-Vorstand schicken!", :controller => 'protest'

%p
  %b Die Gerichtsverfahren kosten zudem viel Geld – bitte hier spenden damit wir den Klageweg gegen die kriminalisierung durch Vattenfall gehen können.