<% title "Aktuelles" %>
<%= render :collection => @posts, :partial => 'post' %>
<p>
  <% if Post.count > 10 %>
    <%= link_to "Ältere News lesen ...", blog_archive_path %> |
  <% end %>
  <%= link_to "Newsfeed abonnieren", blog_path(:format => :atom) %>
</p>